<template>
  <div class="">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid" style="display: flex">
        <div style="flex-grow: 1" />
        <h2 class="navbar-brand">TO DO LIST MANAGER</h2>
        <div style="flex-grow: 1" />
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: "Header",
};
</script>

<style scoped>
</style>