<template>
  <div>
    <div class="card" style="width: 18rem; margin-bottom: 5%">
      <div class="card-body">
        <!-- <p class="card-text">#1</p> -->
        <h5 v-if="!editing" class="card-title">{{ todo.title }}</h5>
        <input
          v-bind:value="todoText"
          @change="todoTextChange"
          v-else
          type="text"
          class="form-control"
          style="margin-bottom: 15px"
        />
        <button
          @click="updateTodoFxn(todo)"
          class="btn btn-warning"
          style="margin-right: 15px"
        >
          {{ editing ? "Update" : "Edit" }}
        </button>
        <button @click="deleteToDo(todo.id)" class="btn btn-danger">
          Delete
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "ToDoItem",
  data() {
    return {
      todoText: "",
      editing: false,
    };
  },
  props: {
    todo: {},
  },
  methods: {
    ...mapActions(["deleteToDo", "updateToDo"]),
    todoTextChange(e) {
      this.todoText = e.target.value;
    },
    updateTodoFxn(todo) {
      this.editing = this.editing == true ? false : true;
      console.log(this.editing);
      if (this.editing) {
        this.todoText = todo.title;
        this.updateToDo(todo);
      }
      else {
        todo.title = this.todoText;
      }
    },
  },
};
</script>

<style scoped>
</style> 
 