<template>
  <div style="margin: 1.5%; display: flex">
    <div style="flex-grow: 1" />
    <input
      type="text"
      class="form-control"
      style="width: 40%"
      @change="todoTextChange"
      v-bind:value="todoText"
    />
    <button
      type="button"
      class="btn btn-primary"
      style="margin-left: 30px"
      @click="addToDoItem()"
    >
      Add
    </button>
    <div style="flex-grow: 1" />
  </div>
</template>

<script>
import { mapActions } from "vuex";
import { v1 } from "uuid";

export default {
  name: "ToDoInput",
  data() {
    return {
      todoText: "",
    };
  },
  methods: {
    ...mapActions(["addToDo"]),
    todoTextChange(e) {
      this.todoText = e.target.value;
    },
    addToDoItem() {
      if (this.todoText == "") {
        alert("Kindly input some text!");
      } else {
        this.addToDo({
          id: v1(),
          title: this.todoText,
        });
        this.todoText = "";
      }
    },
  },
};
</script>

<style scoped>
</style>