<template>
  <div style="display: flex">
    <div style="flex-grow: 1" />
    <div>
      <h3>To Do List</h3>
      <div v-for="todo in allTodos" :key="todo.id">
        <ToDoItem v-bind:todo="todo" />
      </div>
    </div>
    <div style="flex-grow: 1" />
  </div>
</template>

<script>
import ToDoItem from "@/components/ToDoItem";
import {mapGetters} from 'vuex';

export default {
  name: "ToDoList",
  components: {
    ToDoItem,
  },
  computed: {
    ...mapGetters(["allTodos"])
  }
  
};
</script>

<style scoped>
</style> 
