<template>
  <div style="text-align: center; padding:2%; padding-top:0">
    <Header />
    <ToDoInput />
    <ToDoList />
    <router-view />
  </div>
</template>

<script>
import Header from "@/components/Header";
import ToDoInput from "@/components/ToDoInput";
import ToDoList from "@/components/ToDoList";
export default {
  name: "App",
  components: {
    Header,
    ToDoInput,
    ToDoList,
  },
};
</script>

<style>
</style>
